:root {
    --color-one: #0c55f9;
    --color-two: #e1efff;
    --color-three: #455360;
    --color-four: #ecf2f6;
    --color-five: #f7f8fc;
    --color-six: #8e8e8e;
    --color-seven: #292731;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media screen and (min-width: 0) {  /*Mobile*/
    .header {
        position: fixed;
        height: 100px;
        width: 100%;
        background-color: var(--color-seven);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        z-index: 10;
    }

    .icon {
        width: 120px;
        padding: 0 5px;
    }

    .icon img {
        width: 100%;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .nav-a {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding-right: 4px;
        border-right: 2px solid #8e8e8e61;
    }

    .nav-a a {
        text-decoration: none;
        color: var(--color-five);
        padding: 0 5px;
        text-align: end;
        font-size: 14px;
    }

    .nav-buttons {
        display: flex;
        flex-direction: column;
    }

    .nav-button {
        width: 80px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 10px;
        padding: 6px;
        border: none;
        margin: 2px 0;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.6s;
    }

    .button-1 {
        /*background-color: var(--color-two);*/
        /*color: var(--color-one)*/
        background-color: var(--color-five);
        color: var(--color-three);
    }

    .button-2 {
        background-color: var(--color-one);
        color: var(--color-five);
    }

    .nav-button:hover {
        transition: all 0.3s;
    }

    /*.button-1:hover {
        border-color: var(--color-two);
        background-color: var(--color-five);
        color: var(--color-one);
    }*/

    .button-1:hover {
        border-color: var(--color-three);
        color: var(--color-seven);
    }

    .button-2:hover {
        border-color: var(--color-one);
        background-color: var(--color-five);
        color: var(--color-one);
    }

    #home {
        padding-top: 100px;
        background-color: var(--color-two);
    }

    .home-title {
        font-size: 26px;
        padding: 40px 20px 10px;
        text-align: center;
        letter-spacing: 1px;
        color: var(--color-seven);
    }

    .home-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .home-description h4 {
        color: var(--color-seven);
        text-align: center;
        padding: 20px 0 0;
    }

    .home-description h4 b {
        color: var(--color-one);
    }

    #nosotros {
        width: 80%;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 40px;
    }

    .nosotros-video {
        width: 100%;
    }

    #como-funciona {
        padding-top: 100px;
        background-color: var(--color-five);
    }

    .como-funciona-description {
        margin: 0 40px;
        padding: 30px;
        background-color: var(--color-two);
        border-radius: 10px;
    }

    .como-funciona-description span {
        color: var(--color-one);
        font-weight: 600;
        letter-spacing: 1px;
        margin-left: 5px;
    }

    .como-funciona-description h3 {
        color: var(--color-seven);
        font-size: 26px;
    }

    .como-funciona-description p {
        margin: 20px 0 0;
        line-height: 30px;
        color: var(--color-three);
        font-size: 16px;
    }

    .como-funciona-characteristics {
        background-color: var(--color-two);
        margin: 110px 0 0;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .characteristic {
        width: 80%;
        margin: 30px 0;
    }

    .characteristic-div {
        margin: 20px 0;
        width: 40px;
        height: 40px;
        background-color: var(--color-two);
        transform: rotate(30deg);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px var(--color-one);
        transition: box-shadow 0.5s;
        cursor: pointer;
    }

    .characteristic-div div {
        width: 38px;
        height: 38px;
        background-color: var(--color-one);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        transform: rotate(-30deg);
    }

    .characteristic-div:hover {
        box-shadow: 0 0 10px var(--color-one);
    }

    .characteristic-div div i {
        font-size: 18px;
        color: var(--color-two);
    }

    .characteristic h5 {
        color: var(--color-seven);
        font-size: 20px;
        margin: 10px 0;
    }

    .characteristic p {
        color: var(--color-three);
    }

    .characteristic p b {
        color: var(--color-one);
    }

    #contacto {
        padding-top: 100px;
        background-color: var(--color-five);
    }

    .contacto-title {
        width: 80%;
        margin: auto;
    }

    .contacto-title span {
        color: var(--color-one);
        margin-left: 5px;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 15px;
    }

    .contacto-title h3 {
        color: var(--color-seven);
        font-size: 26px;
    }

    .contacto-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
        margin: 40px 0 100px;
    }

    .contacto-tel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
    }

    .contacto-h6 {
        font-size: 15px;
        color: var(--color-one);
        margin-bottom: 10px;
    }

    .contacto-p {
        color: var(--color-three);
        font-size: 15px;
    }

    .contacto-tel b {
        color: var(--color-seven);
        font-size: 15px;
    }

    .contacto-email {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .contacto-form {
        background-color: var(--color-two);
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form {
        background-color: var(--color-five);
        padding: 30px;
        border-radius: 20px;
        /*box-shadow: 0 0 3px var(--color-seven);*/
    }

    .form h3 {
        color: var(--color-one);
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
    }

    .form-div {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .form-label {
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 2px;
        color: var(--color-seven);
    }

    .form-label b {
        color: var(--color-one);
    }

    .form-input {
        color: var(--color-three);
        font-size: 13px;
        border: none;
        background-color: var(--color-five);
        border-bottom: 2px solid #45536083;
        padding: 5px;
        caret-color: var(--color-one);
    }

    .form-input:focus {
        outline: none;
        border-color: var(--color-one);
    }

    .input-button {
        display: flex;
        justify-content: center;
    }

    .input-button input {
        margin-top: 15px;
        padding: 8px 12px;
        border: 2px solid transparent;
        border-radius: 6px;
        background-color: var(--color-one);
        color: var(--color-five);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.6s;
    }

    .input-button input:hover {
        border-color: var(--color-one);
        background-color: var(--color-five);
        color: var(--color-one);
        transition: all 0.3s;
    }
}

@media screen and (min-width: 768px) {  /*Tablet*/ 
}

@media screen and (min-width: 1024px) {  /*Desktop*/
}